

<div>
    <div>
      <div style="display: block">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [colors]="barChartColors">
        </canvas>
      </div>
      <button mat-button mat-raised-button color="primary" (click)="DeleteLast()">Tyhjennä</button>
      <button mat-button mat-raised-button color="primary" (click)="chartupdate()">Update</button>
    </div>
  </div>
