.flex-container {

    display: flex;

    flex-flow: row wrap;

    justify-content: space-around;
    
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .flex-item {
    padding: 5px;
    width: 500px;
    height: auto;
    margin-top: 50px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
