

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Innovaatioprojekti</span>
  </mat-toolbar>
</p>


<mat-tab-group dynamicHeight>
  <mat-tab label="Preset 1">
<ul class="flex-container">
  <li class="flex-item"><app-barchart></app-barchart> </li>
  <li class="flex-item"><app-linechart></app-linechart></li>
  <li class="flex-item"><app-piechart></app-piechart></li>
  <li class="flex-item"><app-barchart></app-barchart> </li>
  <li class="flex-item"><app-piechart></app-piechart></li>
  <li class="flex-item"><app-piechart></app-piechart></li>
</ul>
</mat-tab>
<mat-tab label="Preset 2">
  <ul class="flex-container">
    <li class="flex-item"><app-barchart></app-barchart> </li>
    <li class="flex-item"><app-piechart></app-piechart></li>
  </ul>
</mat-tab>
<mat-tab label="Preset 3">
  <ul class="flex-container">
    <li class="flex-item"><app-barchart></app-barchart> </li>
  </ul>
</mat-tab>
<mat-tab-group>



<router-outlet></router-outlet>